<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<style>
  .card {
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
</style>
</head>
<body>
  <!-- navbar -->
  <nav class="navbar navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="home.html">Mini Mini</a>
    </div>
  </nav>
  
  <div class="card" style="width: 18rem;">
    <img src="../static/images/random_menu_main.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Random Menu</h5>
      <p class="card-text">오늘 저녁 뭘 먹을지 아직 고르지 못했다면 당장 시작하세요</p>
      <div class="d-flex justify-content-end">
        <a href="service.html" class="btn btn-outline-danger">시작하기</a>
      </div>
    </div>
  </div>

  
  
  <!-- footer -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>